{%extends 'catalog/base.html'%}
{%block content%}


<div class="container">

    <h2>Вход на сайт</h2>
    <form method="post" enctype="multipart/form-data" class="row mt-5">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary mt-4">
                    Войти
                </button>
            </div>
        </div>
    </form>
</div>


{%endblock%}