{%extends 'catalog/base.html'%}
{% load static %}
{%load my_tags%}
{%block content%}
<div class="container">
    <div class="row mb-2">
        {%for category in object_list%}
        {% if user.is_authenticated %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{category.name}}</h3>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Описание: {{category.description|truncatechars:100}}</li>
                    </ul>
                    <a class="btn btn-success " href="{% url 'catalog:pro_by_cat' category.pk %}" role="button">
                        Посмотреть товары из категории
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{%endblock%}