{%extends 'catalog/base.html'%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-6">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}
    <input type="checkbox" name="checkbox" id="id_my_checkbox">
    <label for="id_my_checkbox">Подтверждаю</label>
    <button type="submit" class="btn btn-primary mt-4">
        {% if object %}
        Сохранить
        {% else %}
        Создать
        {% endif %}
    </button>

</form>
        </div>
    </div>
</div>



{%endblock%}