<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Список продуктов</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Список продуктов</h1>
    <ul class="list-group">
        {% for pro in products2 %}
        <li class="list-group-item d-flex justify-content-between align-items-center {% if pro.category == 'food' %}list-group-item-primary{% elif pro.category == 'chemical' %}list-group-item-success{% elif pro.category == 'pet' %}list-group-item-danger{% endif %}">
            {{pro.name}} - {{pro.price}} - {{pro.category}}
            <span class="badge badge-primary badge-pill">
                        {% if pro.category == 'food' %}
                            Еда
                        {% elif pro.category == 'chemical' %}
                            Бытовая химия
                        {% elif pro.category == 'pet' %}
                            Корм для животных
                        {% endif %}
            </span>
            {% endfor %}
    </ul>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>