{%extends 'catalog/base.html'%}
{% load static %}
{%load my_tags%}
{%block content%}
<div class="container">
    <div class="row mb-2">
        {%for products in object_list%}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{products.name}}</h3>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Описание: {{products.description|truncatechars:100}}</li>
                        <li>Категория: {{products.category}}</li>
                        <h3 class="mb-0">{{products.price}} руб.</h3>
                    </ul>
                    {% if user.is_authenticated %}
                    <a class="btn btn-success " href="{% url 'catalog:product_detail' products.pk %}" role="button">Посмотреть</a>
                    <a class="btn btn-warning " href="{% url 'catalog:product_update' products.pk %}" role="button">Редактировать</a>
                    <a class="btn btn-danger " href="{% url 'catalog:product_delete' products.pk %}">Удалить</a>
                    {% endif %}
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{ products.image| media_filter }}" class="img-thumbnail" alt="{{ products.name }}">
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}